body, html {
    height: 100%;
    background-color: #6d6d6d;
}

.main-container {
    height: 100%;
}

.calculator {
    /* Dimensions */
    /* Fill screen for mobile users */
    @media width: 100%;
    @media height: 100%;

    width: 600px;
    background-color: #a2a2a2;

    position: absolute;
}

.display {
    text-align: right;
    padding: 4px;
}

#current-expression{
    text-align: right;
}

.buttons-grid {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 4px;
}